<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Inscriptionandroid"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".EditStudent"
            android:exported="false" />
        <activity
            android:name=".EditRole"
            android:exported="false" />
        <activity
            android:name=".EditFiliere"
            android:exported="false" />
        <activity
            android:name=".AddStudent"
            android:exported="false" />
        <activity
            android:name=".AddRole"
            android:exported="false" />
        <activity
            android:name=".AddFiliere"
            android:exported="false" />
        <activity
            android:name=".ListRoles"
            android:exported="false" />
        <activity
            android:name=".ListFilieres"
            android:exported="false" />
        <activity
            android:name=".ListEtudiants"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>